{% extends 'base.html' %}
{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="container">
				<div class="col-sm-12 col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Registrate</h3>
						{% if error_message %}
							<p><strong>{{ error_message }}</strong></p>
						{% endif %}
						<form action="" class="form-horizontal" role="form" method="POST">
							{% csrf_token %}
							{% include 'form_template.html' %}
							<div class="form-group">
								<input type="submit" class="btn btn-success" value="Registrarse">
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>	
	
{% endblock content %}