{% extends 'base.html' %}
{% block content %}
  <div class="slider">
    <ul class="slides">
      <li>
        <div id="particles-js"></div>
        <div class="caption center-align">
          <img id="logo-slider" src="/static/images/logo.png" alt="">
          <h2>¡Bienvenidos a Redtica!</h2>
          <h5 class="light grey-text text-lighten-5 hide-on-small-only">plataforma virtual que promueve un sistema de interrelaciones entre los diferentes actores del sector agrícola venezolano, así como también la canalización de actividades o planes de formación y capacitación a las comunidades agrícolas sobre las TIC aplicadas a la Agricultura.</h5>
        </div>
      </li>
      <li>
        <img src="/static/images/background-blue.jpg">
        <div class="caption right-align">
          <h3>Aquí en Redtica</h3>
          <h5 class="light grey-text text-lighten-3">Podrás encontrar todo respecto a la teledeteccion, sig y más.</h5>
        </div>
        <div class="caption left-align">
          <img src="/static/images/satellite.png" id="algomas">
        </div>
      </li>
      <li>
        <img src="/static/images/background-red.jpg">
        <div class="caption center-align">
          <h3>Patrocinantes</h3>
          <h5 class="light grey-text text-lighten-3">MPPAPT, INIA, ULA</h5>
          <div class="caption center-align">
            <img src="/static/images/mppapt.png" alt="" id="mppapt">
            <img src="/static/images/inia.png" alt="" id="mppapt">
            <img src="/static/images/ula.png" alt="" id="mppapt">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="divider"></div>
<div class="container">
  <div class="row noticias">
    <div class="col m7">
      <h2 class="light-italic grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipisit.</h2>
      <p class="justify parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae perferendis hic ratione error inventore voluptatentium perspiciatis esse, explicabo dicta maxime minus alias, architecto unde ipsa quis adipisci doloremque numquam temporibus iste! Quidem ea vitae quas itaque commodmi m.</p>
    </div>
    <div class="col m5">
      <img src="/static/images/paris.jpg" class="responsive-img" alt="">
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="container">
  <div class="row noticias">
    <div class="col s12 m5">
      <img src="/static/images/paris.jpg" class="responsive-img" alt="">
    </div>
    <div class="col s12 m7">
      <h2 class="light-italic grey-text text-darken-2">Lorem ipsum dolor sit amet, . Officia, est.</h2>
      <p class="justify parrafo">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio enim nulla debitis tempora a cumque eius aspernatur quasi dolorm sapiente voluptas! Reprehenderit odio, labore natus vel iste iure veniam ab fugiat esse repudiandae totam consequatur eligendi. Id eveniet dicta delectus, expedita at!</p>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="container">
  <div class="row noticias">
    <div class="col m7">
      <h2 class="light-italic grey-text text-darken-2">Lorem ipsum dolor sOfficia, est.</h2>
      <p class="justify parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae perferendis hic ratione error inventore voluptate modi assumenda iure laudantium perspiciatis esse, explicabo dicta mte id maxime expedita, ipsum mollitia, quia quae omnis totam. Earum ratione perspiciatis, vel minima. Sed, sapiente. Lornte facilis.</p>
    </div>
    <div class="col m5">
      <img src="/static/images/paris.jpg" class="responsive-img" alt="">
    </div>
  </div>
</div>
<div class="divider"></div>

{% endblock content %}