<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Redtica Red de Información</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/ed7c0ff828.js"></script>
    <!--Import materialize.css-->
    <script src="https://use.fontawesome.com/ed7c0ff828.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- -->
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/noticias.css">
    <link rel="stylesheet" href="/static/css/slider.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/menu.css">
  </head>
  <body>
    <main>
    
    <img src="/static/images/cintillo.jpg" alt="" id="cintillo" class="cintillo">
    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <img src="/static/images/logo.png" width="55" height="45" alt="">
        <a href="#" class="text-white navbar-brand">
          <h2>Redtica</h2>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/noticias">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/biblioteca">Biblioteca</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/forum">Foro</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown btn-group">
              <a class="nav-link dropdown-toggle" id="dropdownMenu1 nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
              <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item">Perfil</a>
                <a class="dropdown-item">Settings</a>
                <a class="dropdown-item">Help</a>
                <hr class="featurette-divider" />
                <a class="dropdown-item" href="/accounts/logout">Salir</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login">Iniciar Sesion</a>
            </li>
            {% endif %}
          </ul>
          <form class="form-inline waves-effect waves-light">
            <input class="form-control" type="text" placeholder="Search">
          </form>
        </div>
      </div>
    </nav>

    <div class="algo">
      <span class="ir-arriba fa fa-arrow-up" aria-hidden="true"></span>
    </div>
    
    {% block content %}
    {% endblock %}
    <footer class="page-footer blue darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">REDTICA</h5>
            <p class="grey-text text-lighten-4">MPPAPT &copy; {% now "Y" %} Todos los Derechos Reservados.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Visita Nuestras Redes Sociales</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Correo Electronico</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          MPPAPT &copy; {% now "Y" %} Responsable: Heredia, Alejandro
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    </main>
    <div class="social-bar">
      <a href="#" class="icon fa fa-facebook-square" aria-hidden="true" target="blank"></a>
      <a href="#" class="icon fa fa-twitter" aria-hidden="true" target="blank"></a>
      <a href="#" class="icon fa fa-instagram" aria-hidden="true" target="blank"></a>
      <a href="#" class="icon fa fa-envelope" aria-hidden="true" target="blank"></a>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/static/js/jquery.waypoints.js"></script>
    <script src="/static/particles/particles.js"></script>
    <script src="/static/js/app.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>
  </body>
</html>