<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Redtica Red de Información</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/ed7c0ff828.js"></script>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://use.fontawesome.com/ed7c0ff828.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Materialize -->
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <!-- -->
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/noticias.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/slider.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
  </head>
  <body>
    <main>
    <header>
      <img class="cintillo" src="/static/images/cintillo.jpg" alt="">
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content white-text blue lighten-1">
        <li><a class="white-text" href="?view=eventos">Eventos</a></li>
        <li><a class="white-text" href="?view=acerca">Acerca de Nosotros</a></li>
        <li><a class="white-text" href="?view=referencias">Referencias</a></li>
        <li><a class="white-text" href="?view=patrocinadores">Patrocinadores</a></li>
      </ul>
      <ul id="dropdown2" class="dropdown-content white-text blue lighten-1">
        <li><a class="white-text" href="/accounts/profile">Cuenta</a></li>
        <li><a class="white-text" href="?view=acerca">Configuracion</a></li>
        <li><a class="white-text" href="?view=referencias">algo</a></li>
        <li><a class="white-text" href="/accounts/logout/">Salir</a></li>
      </ul>
      <nav class="blue darken-3 z-depth-5">
        <div class="nav-wrapper container">
          <a href="/" id="logo" class="brand-logo left">Redtica</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Inicio</a></li>
            <li><a href="/noticias/">Noticias</a></li>
            <li><a href="/forum/">Foro</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Cuenta<i class="material-icons right">arrow_drop_down</i></a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Diplomado<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Inicio</a></li>
            <li><a href="?view=documentos">Documentos</a></li>
            <li><a href="?view=galeria">Galeria de imagenes</a></li>
            <!-- Dropdown Trigger -->
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">Diplomado<i class="material-icons">arrow_drop_down</i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="?view=eventos">Eventos</a></li>
                      <li><a href="?view=acerca">Acerca de Nosotros</a></li>
                      <li><a href="?view=referencias">Referencias</a></li>
                      <li><a href="?view=patrocinadores">Patrocinadores</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </ul>
      </div>
    </nav>
  </header>
  <div class="algo">
    <span class="ir-arriba fa fa-arrow-up" aria-hidden="true"></span>
  </div>
  
  {% block content %}
  {% endblock %}
  <footer class="page-footer blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">REDTICA</h5>
          <p class="grey-text text-lighten-4">MPPAPT &copy; {% now "Y" %} Todos los Derechos Reservados.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Visita Nuestras Redes Sociales</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Correo Electronico</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        MPPAPT &copy; {% now "Y" %} Responsable: Heredia, Alejandro
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  </main>
  <div class="social-bar">
    <a href="#" class="icon fa fa-facebook-square" aria-hidden="true" target="blank"></a>
    <a href="#" class="icon fa fa-twitter" aria-hidden="true" target="blank"></a>
    <a href="#" class="icon fa fa-instagram" aria-hidden="true" target="blank"></a>
    <a href="#" class="icon fa fa-envelope" aria-hidden="true" target="blank"></a>
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/jquery.waypoints.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>
  <script src="/static/particles/particles.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>