{% extends 'base.html' %}
{% block content %}

  
  <header class="header">
    <div class="container">
      <div class="teacher-name" style="padding-top:20px;">
        <div class="row" style="margin-top:0px;">
          <div class="col-md-9">
            <h2 style="font-size:38px"><strong>{% firstof user.get_short_name user.get_username %}</strong></h2>
          </div>
          <div class="col-md-3">
            <div class="button" style="float:right;">
              <a href="#" class="btn btn-outline-success btn-sm">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:20px;">
        <div class="col-md-3"> <!-- Image -->
        <div class="profile-avatar">
          <img src="/static/" class="img-responsive" alt="{{ profile.user.username }}" />
        </div>{{ object_list }}
      </div>
      <div class="col-md-6"> <!-- Rank & Qualifications -->
      <h5 style="color:#3AAA64">Associate Professor, <small>Dept. of CSE, Jatiya Kabi Kazi Nazrul Islam University</small></h5>
      <p>PhD (On study at BUET), M.Sc. in research on ICT(UPC, Spain), M.Sc. in research on ICT(UCL, Belgium).</p>
      <p>Address: Namapara, Trishal, Mymensingh</p>
    </div>
    <div class="col-md-3 text-center"> <!-- Phone & Social -->
    <span class="number" style="font-size:18px">Phone:<strong>+8801732226402</strong></span>
    <div class="button" style="padding-top:18px">
      <a href="mailto:ahmkctg@yahoo.com" class="btn btn-outline-success btn-block">Send Email</a>
    </div>
    <div class="social-icons" style="padding-top:18px">
      <a href="#">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span></a>
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </span></a>
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span></a>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
                <i class="fa fa-slideshare fa-stack-1x fa-inverse"></i>
              </span></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--End of Header-->
    <!-- Main container -->
    <div class="container">
      <!-- Section:Biography -->
      <div class="row">
        <div class="col-md-12">
          <div class="card card-block text-xs-left">
            <h2 class="card-title" style="color:#009688"><i class="fa fa-user fa-fw"></i>Biography</h2>
            <div style="height: 15px"></div>
            <p>AHM Kamal got B.Sc. and M.Sc. on Computer Science and Engineering from SUST, Bagladesh in 2004 and 2005 respectively. After graduation he served as a Lecturer at the Department of Computer Science and Engineering (CSE) in Institute of Science, Trade and Technology, Bangladesh. In 2009, he joined in a Public University, Jessore University of Science and Technology, as a Lecture at the CSE Department. He then promoted as an Assistant Professor by 2012. In 2015, Mr. Subrata changed his professional place and recruited as an Assistant Professor at the Department of Computer Science and Engineering in Jatiya Kabi Kazi Nazrul Islam University, Bangladesh and serving to date.</p>
          </div>
        </div>
      </div>
      <!-- End:Biography -->
    </div>
  </div>
  <!-- End:Publications -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br><br>
  </div> <!--End of Container-->
{% endblock content %}